##  Data understanding and preps

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('power_multi_household_daily.csv')
df.head()

,meter_id,date,daily_mean_power,daily_std_power,daily_min_power,daily_max_power,voltage_mean,voltage_std,intensity_mean
0,MTR_001,2006-12-16,2.617495,0.882098,0.222336,6.660460,236.243763,2.922896,13.082828
1,MTR_001,2006-12-17,2.018833,1.032528,0.097898,6.024453,240.087028,4.051467,9.999028
2,MTR_001,2006-12-18,1.311082,0.862724,0.065486,5.258530,241.231694,3.719576,6.421667
3,MTR_001,2006-12-19,0.992268,1.063872,0.020072,6.750390,241.999313,3.069492,4.926389
4,MTR_001,2006-12-20,1.325185,1.134982,0.026983,5.161571,242.308063,3.345704,6.467361

In [3]:
pd.read_csv('kplc_daily_schedule.csv')

,date,scheduled_outage_today,n_scheduled_events,total_scheduled_minutes
0,2026-01-18,1,3,1380.0
1,2026-01-20,1,4,1950.0
2,2026-01-21,1,2,960.0
3,2026-01-22,1,3,1380.0
4,2026-01-23,1,1,450.0

In [4]:
pd.read_csv('kplc_planned_outages.csv')

,area,date,start_time,end_time,affected_customers
0,Part Of Lunga Lunga Road And Likoni Road,2026-01-18,08:00,17:00,"House of Manji, Wheatabix, Part of Likoni Rd, ..."
1,Whole Of Garage Road,2026-01-20,09:00,17:00,Whole of Garage Rd & adjacent customers.
2,Whole Of Mpweke Lane,2026-01-22,09:00,17:00,"Total South B, Part of Kapiti Rd, Whole of Mpw..."
3,Ongata Rongai,2026-01-21,09:00,17:00,"Whole of Gataka Rd from Masai Mall, Kisumu Ndo..."
4,Parts Of Kuresoi North,2026-01-21,09:00,17:00,"Murundu Mkt, Kibaraa Mkt, Kipkoris Mkt, Kipkew..."
5,"Parts Of Mawingu, Machinnery, Miharati",2026-01-23,09:00,16:30,"Whole of Mumui, Mawingu, Matopeni, Gathiriga, ..."
6,West Indies Estate,2026-01-18,09:00,15:00,"Gulab Lochab Academy, Paul’s Bakery, Part of W..."
7,"Kapchumba, Lower Kiplombe",2026-01-20,09:00,17:00,"Kapchumba, Baharini Police Post, Lower Kiplomb..."
8,Kipkenyo Simat,2026-01-22,09:00,16:00,"Kipkenyo Primary, Eldowas Sewage, Liberty Sch,..."
9,Kipkenyo Simat,2026-01-22,09:00,17:00,"Kapkagaron, Centre Kwanza , Kilibwoni, Tulon Q..."
10,Chiga,2026-01-20,08:30,17:00,"Kalusi Mkt , Chiga Mk t, Rweya Primary, Masawa..."
11,Namulungu,2026-01-18,09:00,17:00,"Kholera, Namulungu, Mukweya, Mirere, Namanga, ..."
12,Amalemba.,2026-01-20,09:00,17:00,"Amalemba, Shitaho, Muranda, Shavirotsi, Lirand..."

In [5]:
pd.read_csv('lead1.0-small.csv')

         building_id            timestamp  meter_reading  anomaly
0                  1  2016-01-01 00:00:00            NaN        0
1                 32  2016-01-01 00:00:00            NaN        0
2                 41  2016-01-01 00:00:00            NaN        0
3                 55  2016-01-01 00:00:00            NaN        0
4                 69  2016-01-01 00:00:00            NaN        0
...              ...                  ...            ...      ...
1749489         1316  2016-12-31 23:00:00         38.844        0
1749490         1318  2016-12-31 23:00:00        202.893        0
1749491         1319  2016-12-31 23:00:00            NaN        0
1749492         1323  2016-12-31 23:00:00        172.000        0
1749493         1353  2016-12-31 23:00:00          2.400        0

[1749494 rows x 4 columns]

In [6]:
pd.read_csv('nairobi_weather_2007_2008.csv')

           date  tmax  tmin  prcp  wspd_max
0    2007-01-01  24.7  13.1   1.0      17.6
1    2007-01-02  23.2  13.7   0.1      17.4
2    2007-01-03  22.6  14.8   0.9      20.0
3    2007-01-04  21.5  14.9   2.3      21.4
4    2007-01-05  23.3  12.9   0.0      18.5
..          ...   ...   ...   ...       ...
726  2008-12-27  24.8  14.6   0.6      21.3
727  2008-12-28  23.7  13.6   0.9      19.0
728  2008-12-29  24.5  14.0   0.2      19.2
729  2008-12-30  24.0  14.5   1.1      19.0
730  2008-12-31  25.8  13.8   0.3      19.3

[731 rows x 5 columns]

Here(without cleaning), did some feature eng. by adding
 1. power_range = daily_max_power - daily_min_power 
 2. voltage_instability = voltage_std / voltage_mean 
 3. load_volatility_ratio = daily_std_power / daily_mean_power 
 
(My operational stress signals.)

In [11]:
df["power_range"] = df["daily_max_power"] - df["daily_min_power"]

In [12]:
df["voltage_instability"] = df["voltage_std"] / df["voltage_mean"]

In [13]:
df["load_volatility_ratio"] = df["daily_std_power"] / df["daily_mean_power"]

In [14]:
import numpy as np

# Handle division by zero for voltage instability
df["voltage_instability"] = np.where(
    df["voltage_mean"] != 0,
    df["voltage_std"] / df["voltage_mean"],
    0
)

df["load_volatility_ratio"] = np.where(
    df["daily_mean_power"] != 0,
    df["daily_std_power"] / df["daily_mean_power"],
    0
)

In [15]:
df[["power_range", "voltage_instability", "load_volatility_ratio"]].describe()

        power_range  voltage_instability  load_volatility_ratio
count  14330.000000         14330.000000           14330.000000
mean       5.420781             0.010063               0.877519
std        1.929686             0.002867               0.165068
min        0.574884             0.004334               0.336007
25%        4.186880             0.007936               0.773464
50%        5.411989             0.009660               0.864627
75%        6.643603             0.011954               0.966121
max       13.789044             0.025032               1.606061

In [16]:
df.isna().sum()

meter_id                  0
date                      0
daily_mean_power         90
daily_std_power          90
daily_min_power          90
daily_max_power          90
voltage_mean             90
voltage_std              90
intensity_mean           90
power_range              90
voltage_instability      90
load_volatility_ratio    90
dtype: int64

In [18]:
df.head()

,meter_id,date,daily_mean_power,daily_std_power,daily_min_power,daily_max_power,voltage_mean,voltage_std,intensity_mean,power_range,voltage_instability,load_volatility_ratio
0,MTR_001,2006-12-16,2.617495,0.882098,0.222336,6.660460,236.243763,2.922896,13.082828,6.438123,0.012372,0.337001
1,MTR_001,2006-12-17,2.018833,1.032528,0.097898,6.024453,240.087028,4.051467,9.999028,5.926554,0.016875,0.511448
2,MTR_001,2006-12-18,1.311082,0.862724,0.065486,5.258530,241.231694,3.719576,6.421667,5.193043,0.015419,0.658024
3,MTR_001,2006-12-19,0.992268,1.063872,0.020072,6.750390,241.999313,3.069492,4.926389,6.730318,0.012684,1.072162
4,MTR_001,2006-12-20,1.325185,1.134982,0.026983,5.161571,242.308063,3.345704,6.467361,5.134588,0.013808,0.856470