In [132]:
import pandas as pd
import numpy as np

In [133]:
df = pd.read_csv('kplc_daily_schedule.csv')
df.head()

,date,scheduled_outage_today,n_scheduled_events,total_scheduled_minutes
0,2026-01-18,1,3,1380.0
1,2026-01-20,1,4,1950.0
2,2026-01-21,1,2,960.0
3,2026-01-22,1,3,1380.0
4,2026-01-23,1,1,450.0

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5 non-null      object
 1   scheduled_outage_today   5 non-null      int64
 2   n_scheduled_events       5 non-null      int64
 3   total_scheduled_minutes  5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 292.0+ bytes

In [135]:
data = pd.read_csv('nairobi_weather_2007_2008.csv')
data.head()

         date  tmax  tmin  prcp  wspd_max
0  2007-01-01  24.7  13.1   1.0      17.6
1  2007-01-02  23.2  13.7   0.1      17.4
2  2007-01-03  22.6  14.8   0.9      20.0
3  2007-01-04  21.5  14.9   2.3      21.4
4  2007-01-05  23.3  12.9   0.0      18.5

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5 non-null      object
 1   scheduled_outage_today   5 non-null      int64
 2   n_scheduled_events       5 non-null      int64
 3   total_scheduled_minutes  5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 292.0+ bytes

In [137]:
set = pd.read_csv('power_multi_household_daily.csv')
set.head()

,meter_id,date,daily_mean_power,daily_std_power,daily_min_power,daily_max_power,voltage_mean,voltage_std,intensity_mean
0,MTR_001,2006-12-16,2.617495,0.882098,0.222336,6.660460,236.243763,2.922896,13.082828
1,MTR_001,2006-12-17,2.018833,1.032528,0.097898,6.024453,240.087028,4.051467,9.999028
2,MTR_001,2006-12-18,1.311082,0.862724,0.065486,5.258530,241.231694,3.719576,6.421667
3,MTR_001,2006-12-19,0.992268,1.063872,0.020072,6.750390,241.999313,3.069492,4.926389
4,MTR_001,2006-12-20,1.325185,1.134982,0.026983,5.161571,242.308063,3.345704,6.467361

In [138]:
set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14420 entries, 0 to 14419
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   meter_id          14420 non-null  object
 1   date              14420 non-null  object
 2   daily_mean_power  14330 non-null  float64
 3   daily_std_power   14330 non-null  float64
 4   daily_min_power   14330 non-null  float64
 5   daily_max_power   14330 non-null  float64
 6   voltage_mean      14330 non-null  float64
 7   voltage_std       14330 non-null  float64
 8   intensity_mean    14330 non-null  float64
dtypes: float64(7), object(2)
memory usage: 1014.0+ KB

In [139]:
# Data Cleaning and Preprocessing for every dataset
# 1. KPLC Daily Schedule Dataset
# Check for missing values
print(df.isnull().sum())

date                       0
scheduled_outage_today     0
n_scheduled_events         0
total_scheduled_minutes    0
dtype: int64

In [140]:
# Check for duplicates
print(df.duplicated().sum())

0

In [141]:
# Change date to datetime format
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5 non-null      datetime64[ns]
 1   scheduled_outage_today   5 non-null      int64
 2   n_scheduled_events       5 non-null      int64
 3   total_scheduled_minutes  5 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 292.0 bytes

In [142]:
# Check for invalid dates
invalid_dates = df[df['date'].isnull()]
print(invalid_dates)

Empty DataFrame
Columns: [date, scheduled_outage_today, n_scheduled_events, total_scheduled_minutes]
Index: []

In [143]:
# Ensure numeric columns are correct
numeric_cols = [
    'scheduled_outage_today',
    'n_scheduled_events',
    'total_scheduled_minutes'
]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
print(df[numeric_cols].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   scheduled_outage_today   5 non-null      int64
 1   n_scheduled_events       5 non-null      int64
 2   total_scheduled_minutes  5 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 252.0 bytes
None

In [144]:
# 2. Nairobi Weather Dataset
# Check for missing values
print(data.isnull().sum())

date        0
tmax        0
tmin        0
prcp        0
wspd_max    0
dtype: int64

In [145]:
# Check for duplicates
print(df.duplicated().sum())

0

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      731 non-null    object
 1   tmax      731 non-null    float64
 2   tmin      731 non-null    float64
 3   prcp      731 non-null    float64
 4   wspd_max  731 non-null    float64
dtypes: float64(4), object(1)
memory usage: 28.7+ KB

In [147]:
# Convert date to datetime format
data['date'] = pd.to_datetime(data['date'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      731 non-null    datetime64[ns]
 1   tmax      731 non-null    float64
 2   tmin      731 non-null    float64
 3   prcp      731 non-null    float64
 4   wspd_max  731 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 28.7 KB

In [148]:
# Ensure numeric columns are correctly typed
# Ensure numeric columns
weather_numeric = ['tmax', 'tmin', 'prcp', 'wspd_max']
data[weather_numeric] = data[weather_numeric].apply(
    pd.to_numeric, errors='coerce'
)
print(data[weather_numeric].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmax      731 non-null    float64
 1   tmin      731 non-null    float64
 2   prcp      731 non-null    float64
 3   wspd_max  731 non-null    float64
dtypes: float64(4)
memory usage: 23.0 KB
None

In [149]:
# Check for unrealistic weather values (e.g., negative precipitation)
print("Negative precipitation values:")
print(data[data['prcp'] < 0])

Negative precipitation values:
Empty DataFrame
Columns: [date, tmax, tmin, prcp, wspd_max]
Index: []

In [150]:
# 3. Power Consumption Dataset
# Check for missing values
print(set.isnull().sum())

meter_id             0
date                 0
daily_mean_power    90
daily_std_power     90
daily_min_power     90
daily_max_power     90
voltage_mean        90
voltage_std         90
intensity_mean      90
dtype: int64

In [151]:
# Drop rows with missing values
set = set.dropna()

In [152]:
# Check for missing values again
print(set.isnull().sum())

meter_id            0
date                0
daily_mean_power    0
daily_std_power     0
daily_min_power     0
daily_max_power     0
voltage_mean        0
voltage_std         0
intensity_mean      0
dtype: int64

In [153]:
set.head()

,meter_id,date,daily_mean_power,daily_std_power,daily_min_power,daily_max_power,voltage_mean,voltage_std,intensity_mean
0,MTR_001,2006-12-16,2.617495,0.882098,0.222336,6.660460,236.243763,2.922896,13.082828
1,MTR_001,2006-12-17,2.018833,1.032528,0.097898,6.024453,240.087028,4.051467,9.999028
2,MTR_001,2006-12-18,1.311082,0.862724,0.065486,5.258530,241.231694,3.719576,6.421667
3,MTR_001,2006-12-19,0.992268,1.063872,0.020072,6.750390,241.999313,3.069492,4.926389
4,MTR_001,2006-12-20,1.325185,1.134982,0.026983,5.161571,242.308063,3.345704,6.467361

In [154]:
# Check for duplicates
print(df.duplicated().sum())

0

In [155]:
# Convert date to datetime format
set['date'] = pd.to_datetime(set['date'], errors='coerce')
set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14330 entries, 0 to 14419
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   meter_id          14330 non-null  object
 1   date              14330 non-null  datetime64[ns]
 2   daily_mean_power  14330 non-null  float64
 3   daily_std_power   14330 non-null  float64
 4   daily_min_power   14330 non-null  float64
 5   daily_max_power   14330 non-null  float64
 6   voltage_mean      14330 non-null  float64
 7   voltage_std       14330 non-null  float64
 8   intensity_mean    14330 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 1.1+ MB

In [156]:
# Ensure numeric columns are correctly typed
meter_numeric = [
    'daily_mean_power',
    'daily_std_power',
    'daily_min_power',
    'daily_max_power',
    'voltage_mean',
    'voltage_std',
    'intensity_mean'
]
set[meter_numeric] = set[meter_numeric].apply(
    pd.to_numeric, errors='coerce'
)
print(set[meter_numeric].info())

<class 'pandas.core.frame.DataFrame'>
Index: 14330 entries, 0 to 14419
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   daily_mean_power  14330 non-null  float64
 1   daily_std_power   14330 non-null  float64
 2   daily_min_power   14330 non-null  float64
 3   daily_max_power   14330 non-null  float64
 4   voltage_mean      14330 non-null  float64
 5   voltage_std       14330 non-null  float64
 6   intensity_mean    14330 non-null  float64
dtypes: float64(7)
memory usage: 895.6 KB
None

In [157]:
# Data preprocessing for every dataset
# Merge datasets on date
merged_data = pd.merge(df, data, on='date', how='left')

In [159]:
#Add time-based features (dayofweek, month, etc.)
#Create lag features (lag_1, lag_7)
#Create rolling features (rolling_7_mean, rolling_7_std)

In [166]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder